package storage

import (
	"context"
	"github.com/Alexandrhub/cli-orm-gen/genstorage/models"
)

type {{ .EntityNameUppercase }}er interface {
	Create(ctx context.Context, dto models.{{ .EntityName }}) error
	Update(ctx context.Context, dto models.{{ .EntityName }}) error
	GetByID(ctx context.Context, {{ .EntityNameLowercase }}ID int) (models.{{ .EntityName }}, error)
	GetList(ctx context.Context) ([]models.{{ .EntityName }}, error)
	Delete(ctx context.Context, {{ .EntityNameLowercase }}ID int) error
}