package repository

import (
	"context"

	"{{ .PackageName }}/genstorage/models"
	"{{ .PackageName }}/utils"
)

type I{{ .EntityNameUppercase }} interface {
	Create(ctx context.Context, dto models.{{ .EntityName }}) error
	Upsert(ctx context.Context, dto []models.{{ .EntityName }}) error
	GetCount(ctx context.Context, dto models.{{ .EntityName }}, condition utils.Condition) (uint64, error)
	List(ctx context.Context, condition utils.Condition) ([]models.{{ .EntityName }}, error)
	Update(ctx context.Context, dto models.{{ .EntityName }}, condition utils.Condition) error
}
